body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
}
.navbar-default {
    background-color: #E0E0E0;
}
nav {
    background: url('../images/bg.gif') no-repeat top left;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-brand {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 3em;
    color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.tile {
    border: 5px #fff solid;
    padding: 10px 15px;
}

.competencia {
    background-color: #BF7000;
    color: #fff;
    height: 87px;
}
.competencia p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding-top: 3px;
}
.competencia p span {
    font-size: .8em;
    opacity: .7;
}
.competencia p.fecha {
    font-size: 1.2em;
    opacity: .7;
    padding-top: 8px;
}
.competencia .btn-eleccion {
    margin-top: 2px;
}
.competencia .dropdown-menu {
  min-width:auto;
  width:100%;
  background-color: #EC971F;
  border-radius: 0;
  margin-top: 13px;
  border: 0;
}
.competencia .dropdown-menu li a span {
    font-size: .8em;
    opacity: .7;
}
.competencia .dropdown-menu > li > a:hover,
.competencia .dropdown-menu > li > a:focus {
    background-color: #BF7000;
    color: #fff;
    font-weight: bold;
}
.competencia .dropdown-menu > li > a:hover > span,
.competencia .dropdown-menu > li > a:focus > span {
    font-weight: normal;
    opacity: 1;
}
.filtros {
    background-color: #007D9F;
    color: #fff;
}
.filtros label {
    font-weight: normal;
}
.filtros .form-control {
    width: 100%;
    padding: 6px;
}
.filtros .form-inline .form-group {
    display: block;
}

.tabla {
    padding: 5px;
    border: 0;
}
.tabla th {
    text-align: center;
}
.tabla table > thead > tr > th {
    border: 0;
    background-color: #ddd;
}
.tabla th span.unidad {
    font-weight: normal;
    color: #999;
}
.tabla th.resultado span,
.tabla th.prediccion span {
    color: #ddd;
}
.tabla th.th-col {
    width: 10%;
}
.tabla th.th-col.img {
    vertical-align: middle;
}
.tabla .prediccion {
    background-color: #EC971F;
    color: #fff;
    font-weight: bold;
}
.tabla .resultado {
    background-color: #C9302C;
    color: #fff;
    font-weight: bold;
}
.tabla table > thead > tr > th.prediccion {
    background-color: #CF7900;
}
.tabla table > thead > tr > th.resultado {
    background-color: #9F0400;
}
.tabla tbody tr td {
    vertical-align: middle;
    font-size: 14px;
    padding: 5px 2px;
}
.tabla td .img {
    width: 44px;
    border: 4px solid;
    border-radius: 50%;
    cursor: help;
}
.tabla tfoot h5 {
    color: #888;
    margin-bottom: 3px;
    font-weight: bold;
}
.tabla td p.img {
    width: 50px;
    height: 50px;
}

.tabla tfoot .table tbody tr td {
    font-size: 13px;
    border: 0;
    padding: 0;
}
.tabla tfoot .table tbody tr td.ref {
    font-weight: bold;
    width: 10%;
    vertical-align: top;
}
.tabla tfoot .table tbody tr td.ref.prediccion {
    background-color: #fff;
    color: #EC971F;
}
.tabla tfoot .table tbody tr td.ref.resultado {
    background-color: #fff;
    color: #C9302C;
}
.tabla .table,
.tabla tfoot .table {
    margin-bottom: 0;
}

.tabla .table-hover > tbody > tr:hover,
.tabla .table-hover > tbody > tr.hover {
    background-color: #E1FFDF;
}

.btn-hide-circles,
.btn-hide-lines {
    border: 0;
    background-color: transparent;
    color: #666;
    font-size: 13px;
}

.grafico {
    padding: 5px;
    border: 0;
}

.encuestas {
    background-color: #015F00;
    color: #fff;
    overflow: hidden;
    padding: 10px 15px;
    margin-top: 6px;
}
.encuestas span {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
}
.encuestas p {
    margin: 0 0 10px;
}
.encuestas table {
    margin-bottom: 0;
}
.encuestas .table-hover > tbody > tr:hover,
.encuestas .table-hover > tbody > tr.hover {
    background-color: #019F00;
}
.encuestas table tr.unchecked {
    opacity: .7;
    background-color: #8B9F8B;
}
.encuestas .table-condensed > tbody > tr > td {
    padding: 4px;
}
.encuestas .enc-check i {
    font-size: 13px;
}
.encuestas .encuestadora {
    width: 50px;
}
.encuestas .encuestadora .enc-check {
    padding: 1px 10px;
}
.encuestas .encuestadora .enc-check.btn-success {
    background-color: #62DF61;
}
.encuestas a i.icon-link {
    color: #fff;
}
.encuestas a:hover i.icon-link {
    color: #ccc;
}
.popover small {
    color: #666;
    font-size: .8em;
}

/* grafico */
.axis.xAxis {
    font-size: 10px;
}
.axis path,
.axis line {
    shape-rendering: crispEdges;
    fill: none;
    stroke-width: 1px;
    stroke: #999;
}
.axis path {
    stroke: #666;
}
.yAxis line {
    stroke-dasharray: 1px 3px;
}
.resultado {
    stroke: #333;
    stroke-width: 2px;
}

.line {
    fill: none;
}

.d3-tip {
  padding: 12px;
  background: #eee;
  border-radius: 2px;
  text-align: center;
  /*border: 1px solid #fff;*/
  box-shadow: 0px 0px 2px 2px rgba(204,204,204,1);
}

.d3-tip strong {
    font-size: 1.5em;
    font-family: 'Ropa Sans', sans-serif;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #ddd;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}