body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
}
.form-inline .form-group {
    display: block;
}
.navbar {
    margin-bottom: 10px;
}
.navbar-default {
    background-color: #E0E0E0;
}
nav {
    background: url('../images/bg.gif') no-repeat top left;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-brand {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 3em;
    color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.tile {
    margin: 5px 0 0;
    padding: 10px 0;
}

.competencia {
    background-color: #BF7000;
    color: #fff;
}
.competencia p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.85em;
    line-height: 1em;
    margin: 0;
    padding-top: 3px;
}
.competencia p span {
    font-size: .8em;
    opacity: .7;
}
.competencia p.fecha {
    font-size: 1.2em;
    opacity: .7;
    padding-top: 8px;
}
.competencia .btn-eleccion {
    margin-top: 2px;
}
.competencia .dropdown-menu {
  min-width:auto;
  width:100%;
  background-color: #EC971F;
  border-radius: 0;
  margin-top: 13px;
  border: 0;
}
.competencia .dropdown-menu li a span {
    font-size: .8em;
    opacity: .7;
}
.competencia .dropdown-menu > li > a:hover,
.competencia .dropdown-menu > li > a:focus {
    background-color: #BF7000;
    color: #fff;
    font-weight: bold;
}
.competencia .dropdown-menu > li > a:hover > span,
.competencia .dropdown-menu > li > a:focus > span {
    font-weight: normal;
    opacity: 1;
}
.filtros {
    background-color: #007D9F;
    color: #fff;
}
.filtros label {
    font-weight: normal;
}
.filtros .form-control {
    width: 100%;
    padding: 6px;
}
.filtros .form-inline .form-group {
    display: block;
}

.tabla .tabla-inner {
    height: 390px;
    overflow: hidden;
}
.tabla th {
    text-align: center;
}
.table > thead > tr > th {
    padding: 5px;
}
.tabla table > thead > tr > th {
    border: 0;
    background-color: #ddd;
}
.tabla th span.unidad {
    font-weight: normal;
    color: #999;
}
.tabla th.resultado span,
.tabla th.prediccion span {
    color: #ddd;
}
.tabla th.th-col,
.tabla td.td-col {
    width: 10%;
    text-align: right;
}
.tabla th.th-col-img {
    min-width: 44px;
    padding: 0 5px;
}
.tabla th.th-col.img {
    vertical-align: middle;
    text-align: center;
}
.tabla td.td-col-center,
.tabla th.th-col-center {
    text-align: center;
}
.tabla .prediccion {
    background-color: #EC971F;
    color: #fff;
    font-weight: bold;
}
.tabla .resultado {
    background-color: #C9302C;
    color: #fff;
    font-weight: bold;
}
.tabla table > thead > tr > th.prediccion {
    background-color: #CF7900;
}
.tabla table > thead > tr > th.resultado {
    background-color: #9F0400;
}
.tabla tbody tr td {
    vertical-align: middle;
    font-size: 14px;
    padding: 5px 4px 5px 0;
}
.tabla td .img {
    width: 44px;
    border: 4px solid;
    border-radius: 50%;
    cursor: help;
}
.tabla tfoot h5 {
    color: #888;
    margin-bottom: 3px;
    font-weight: bold;
}
.tabla td p.img {
    width: 50px;
    height: 50px;
}

.tabla tfoot .table tbody tr td {
    font-size: 13px;
    border: 0;
    padding: 0;
}
.tabla tfoot .table tbody tr td.ref {
    font-weight: bold;
    width: 10%;
    vertical-align: top;
}
.tabla tfoot .table tbody tr td.ref.prediccion {
    background-color: #fff;
    color: #EC971F;
}
.tabla tfoot .table tbody tr td.ref.resultado {
    background-color: #fff;
    color: #C9302C;
}
.tabla .table,
.tabla tfoot .table {
    margin-bottom: 0;
}

.tabla .table-hover > tbody > tr:hover,
.tabla .table-hover > tbody > tr.hover {
    background-color: #E1FFDF;
}

.btn-hide-circles,
.btn-hide-lines {
    border: 0;
    background-color: transparent;
    color: #666;
    font-size: 13px;
}

.tooltip-fijo {
    background-color: #eee;
    height: 157px;
    overflow: hidden;
    text-align: center;
}
.tooltip-fijo p {
    margin: 0;
}
.tt-intencion .intencion {
    font-weight: bold;
    font-size: 3.1em;
    border-bottom: 5px solid;
    line-height: 1.2em;
}
.tt-intencion .candidato {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 0 2px;
    line-height: 1.3em;
}
.tt-candidato p {
    height: 137px;
    border-radius: 10px;
    overflow: hidden;
}
.tt-candidato img {
    width: 100%;
}
.tt-encuesta .encuestadora {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 0;
}
.tt-encuesta .encuestadora a {
    color: #9F0400;
}

.encuestas {
    background-color: #015F00;
    color: #fff;
    overflow: hidden;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.encuestas span.nEnc {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
}
.encuestas p {
    margin: 0 0 10px;
}
.encuestas table {
    margin-bottom: 0;
}
.encuestas td:hover,
.encuestas td.hover {
    background-color: #019F00;
}
.encuestas td.no-over:hover {
    background-color: transparent;
}
.encuestas table td.unchecked {
    opacity: .7;
    background-color: #8B9F8B;
}
.encuestas .table-condensed > tbody > tr > td {
    padding: 4px;
}
.encuestas .enc-check i {
    font-size: 13px;
}
.encuestas .encuestadora {
    width: 25%;
}
.encuestas .encuestadora .enc-check {
    padding: 1px 10px;
}
.encuestas .encuestadora .enc-check.btn-success {
    background-color: #62DF61;
}
.encuestas a i.icon-link {
    color: #fff;
}
.encuestas a:hover i.icon-link {
    color: #ccc;
}
.encuestas .encuestadora span {
    opacity: .7;
}
.encuestas .btn-link {
    font-size: 12px;
    color: #fff;
    padding: 6px 0;
}

.popover small {
    color: #666;
    font-size: .8em;
}

/* grafico */
.axis.xAxis {
    font-size: 10px;
}
.axis path,
.axis line {
    shape-rendering: crispEdges;
    fill: none;
    stroke-width: 1px;
    stroke: #999;
}
.axis path {
    stroke: #666;
}
.yAxis line {
    stroke-dasharray: 1px 3px;
}
.resultado {
    stroke: #333;
    stroke-width: 2px;
}

.line {
    fill: none;
}

.lastCircleSelected {
    stroke: #000;
    stroke-width: 1px;
}